<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel='stylesheet' href="/styles/main.css" type='text/css' media='all' />
		<title>ES Track{{#if title}} - {{title}}{{/if}}</title>
		<meta name="description" content="This Stuff" />


    </head>
    <body class="custom-font-enabled">
		{{{body}}}
    </body>
</html>