<link rel='stylesheet' href="/styles/login.css" type='text/css' media='all' />
{{#if newUsername}}<div class="loginflash">User {{newUsername}} was created!</div>{{/if}}
<div class="loginbox">
	<h3>Ripley's ES Track</h3>
	<form name="login-panel" id="login-panel" method="post" action="/app/login">
		<label for="username">username</label>
		<input type="text" id="username" name="username" required/>
		<label for="password">password</label>
		<input type="password" id="password" name="password" required/>
		
		<div class="submitbtn">
			<input type="submit" value="login"/>
		</div>
	 
	</form>
</div>

<div id="help"> need help? contact <a href="http://www.twitter.com/johann_mg" target="_blank">johannmg</a></div>



