<h3> this is the entire app so far </h3>

<div class="container">
	<section id="menu-container">
		<nav class="menu">
			
			<ul class="navigation">
				<li><a href="#!">Dashboard</a></li>
				<li><a href="#!">Reports</a></li>
				<li><a href="#!">Configuration</a></li>
				<li><a href="#!">Users</a></li>
			</ul>
			
		</nav>
		
		<div class="logout"><a href="/app/logout/">Logout</a></div>
	</section>
	
	<main id="app-area">
		<div
		
	</main> <!-- #app-area-->
	
	
</div>