<div class="contain">
	<div ng-app="mgmtApp">
		<div ng-view>
		</div>
	</div> <!--ng-app=mgmtApp-->
</div>

<!--Scripts-->
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/bower/angular-resource/angular-resource.min.js"></script>
<script src="/scripts/app/app.js"></script>
<script src="/scripts/app/directives.js"></script>
<script src="/scripts/app/controllers.js"></script>
<script src="/scripts/app/services.js"></script>