/*-----------------------------------------------------------------------------
CSS for dashboard by @johann_mg



-----------------------------------------------------------------------------*/

html{
	font-size: 1em;
}

body{
	font-family: 'Helvetica Neue','Helvetica', Helvetica, Arial,sans-serif;
	font-size: 16px;	
}

h1, h2, h3, h4, h5 {
	margin-top: 0; 
}

h1 { font-size: 2.074em; }

h2 { font-size: 1.728em; }

h3 { font-size: 1.44em; }

h4 { font-size: 1.2em; }

small { font-size: 0.833em; }

.box { padding: 1.25em; }

@media screen and (min-width: 900px) {
  html { font-size: 1.25em; }
}

a {
	text-decoration: none;
	color: inherit; 
}

ul {
    list-style: none;
    padding: 0 0 0 0.6em;
    line-height: 2em;
}

#menu-container{
	width: 25%;
    background-color: #CCC;
    height: 100vh;
    float: left;
}

.logout {
    position: fixed;
    bottom: 0;
    padding: .2em;
}